/* carrusel para las versiones de trajes */
#info-section {
    position: absolute;
    left: 23%;
    width: 50%;
    top: 0;
    padding: 15px;
    background-color: rgba(25, 78, 255, 0.26);
    border-radius: 10px;
    margin-top: 5%;
    margin-right: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    color: white;
}
#carrusel-section {
    position: absolute;
    left: 75%;
    width: 25%;
    height: 90%;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrusel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.carrusel-inner {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.carrusel-item {
    min-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}
.carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carrusel-item.active {
    opacity: 1;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}